<!-- <header class="fixed bg-yellow-500 flex items-center justify-between w-full h-20 mb-20">
    <img src="assets/institucional/uWallet.png" alt="Logo" class="hidden sm:block pl-14">
</header> -->
<!-- <header class="fixed bg-yellow-500 flex items-center justify-between w-full h-22 mb-20"> -->
<header class="sticky top-0 header bg-yellow-500">
    <img src="assets/institucional/logo_b.png" alt="Logo" class="logo">
    <!-- class="flex-shrink-0 h-20 sm:w-auto sm:w-1/2 sm:pl-14 mx-auto my-2"> -->
</header>