<!-- <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto flex justify-center items-center">
        <p class="ml-4">© {{ year }} Todos los derechos reservados.</p>
        <img src="assets/institucional/by.png" alt="Logo" class="block mx-auto mt-4">
    </div>
</footer> -->


<footer class="bg-gray-800 text-white py-4 px-4 absolute bottom-0 w-full">
    <p class="text-center">&copy; {{ year }} - Todos los derechos reservados</p>
    <img src="assets/institucional/by.png" alt="Logo" class="block mx-auto mt-4 h-6">
</footer>