<footer class="bg-gray-800 text-white py-2 px-2 absolute bottom-0 w-full">
    <div class="flex flex-col md:flex-row md:justify-between">
        <p class="text-center md:text-left mb-2 md:mb-0">&copy; {{ year }} - Todos los derechos reservados</p>
        <img src="assets/institucional/by.png" alt="Logo" class="block mx-auto md:mx-0 h-6">
    </div>
</footer>
<!-- 
<footer class="bg-gray-800 text-white py-4 px-4 absolute bottom-0 w-full">
    <p class="text-center">&copy; {{ year }} - Todos los derechos reservados</p>
    <img src="assets/institucional/by.png" alt="Logo" class="block mx-auto mt-4 h-6">
</footer> -->