<app-header></app-header>

<div class="h-screen flex flex-col justify-between">
    <div class="mt-32 pb-16">
        <!-- Formulario de login -->
        <div class="flex justify-center">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full lg:w-1/2" [formGroup]="loginForm"
                (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="email">
                        Correo institucional
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="email" name="email" type="email" placeholder="Ingresa tu correo institucional"
                        formControlName="email">
                    <div class="text-red-500 text-xs italic mt-2" *ngIf="validacion('email')">
                        {{errorCorreo}}
                    </div>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 font-bold mb-2" for="password">
                        Contraseña
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="Ingresa tu contraseña" autocomplete="off"
                        formControlName="password">
                    <div class="text-red-500 text-xs italic mt-2" *ngIf="validacion('password')">
                        {{errorPass}}
                    </div>
                </div>
                <div class="mb-6">
                    <div
                        class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                        <input type="checkbox" id="toggle" name="toggle"
                            class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                            formControlName="politica">
                        <label for="toggle"
                            class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer">
                        </label>
                    </div>
                    Aceptas la
                    <a class="underline"
                        href="https://intranet.uniminuto.edu/documents/16129/0/Resoluci%C3%B3n+Rectoral+No+1542+Programa+Integral+Gesti%C3%B3n+Datos+Personales.pdf/8d18039d-7be8-44d8-ad5d-390b7299066a">
                        política de tratamiento de datos?
                    </a>

                    <div class="text-red-500 text-xs italic mt-2" *ngIf="validacion('politica')">
                        {{politica}}
                    </div>

                </div>
                <div class="flex items-center justify-center">
                    <button
                        [class]="(loginForm.invalid) ? 'bg-blue-100 text-white font-bold py-2 px-20 rounded-full pointer-events-none ' : 'bg-blue-500 hover:bg-blue-400 text-white hover:text-gray-100 font-bold py-2 px-20 rounded-full hover:cursor-pointer'">
                        {{ingresar}}
                    </button>
                </div>
                <div class="flex justify-center pt-1">
                    <a href="https://tuclave.uniminuto.edu"
                        class="block mx-auto bg-white hover:border hover:border-yellow-500 px-6 py-2 rounded-full text-center">
                        Olvidaste la contraseña?</a>
                </div>
                <div class="bg-gray-100">
                    <div *ngIf="isLoading" class="text-center py-4 bg-blue-200">Enviando información...</div>
                </div>
            </form>



        </div>
        <app-app-footer></app-app-footer>
    </div>
</div>