<app-header></app-header>

<div class="h-screen flex flex-col justify-between">
    <div class="mt-40 pb-16">
        <!-- Formulario de login -->
        <div class="flex justify-center">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full lg:w-1/2" [formGroup]="loginForm"
                (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="email">
                        Correo institucional
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="email" name="email" type="email" placeholder="Ingresa tu correo institucional"
                        formControlName="email">
                    <div class="text-red-500 text-xs italic mt-2" *ngIf="validacion('email')">
                        {{errorCorreo}}
                    </div>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 font-bold mb-2" for="password">
                        Contraseña
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="Ingresa tu contraseña" autocomplete="off"
                        formControlName="password">
                    <div class="text-red-500 text-xs italic mt-2" *ngIf="validacion('password')">
                        {{errorPass}}
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <button
                        [class]="(loginForm.invalid) ? 'bg-blue-200 text-whitefont-bold py-2 px-4 rounded pointer-events-none': 'bg-blue-500 hover:bg-blue-400 text-white hover:text-gray-100 font-bold py-2 px-4 rounded hover:cursor-pointer'">
                        {{ingresar}}
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-40 pb-16">
            <pre>Valid: {{loginForm.valid}}</pre>
            <pre>Pristine {{loginForm.pristine}}</pre>
            <pre>Touched {{loginForm.touched}}</pre>
            <pre>Value {{loginForm.value |json}}</pre>
        </div>
        <app-app-footer></app-app-footer>
    </div>
</div>