<div class="flex h-10 items-center bg-blue-950 dark:bg-night-700">
    <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
        <div class="text-gray-100 dark:text-night-300 flex">
            <span class="mr-2">{{ year }}©</span>
            <img src="assets/institucional/by.png" class="w-1/3" alt="Logo Uniminuto">
        </div>
        <ul class="flex text-gray-100 dark:text-night-300">
            <li class="hover:text-primary-500">
                <a href="https://soporte.uniminuto.edu" target="_blank" class="menu-link px-2">
                    Soporte tecnológico
                </a>
            </li>
            <li class="hover:text-primary-500">
                <a href="https://uniminuto.edu" target="_blank" class="menu-link px-2">Portal Uniminuto</a>
            </li>
            <!-- <li class="hover:text-primary-500">
                <a href="" target="_blank"
                    class="menu-link px-2">Canales de atención</a>
            </li> -->
        </ul>
    </div>
</div>