<div class="mx-auto px-2 py-2 sm:px-8 lg:container">
    <!-- Header -->
    <app-header-dashboard></app-header-dashboard>
    <!-- end Header -->

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
        <!-- Dual Card -->
        <div dual-card [datos]="datos[0]" class="md:col-span-2"></div>
        <div dual-card [datos]="datos[0]" class="md:col-span-2"></div>
        <!-- end Dual Card -->
        <!-- Single Card -->
        <div single-card [datos]="datos[1]"></div>
        <!-- end Single Card -->
        <!-- Single Card -->
        <div single-card [datos]="datos[2]"></div>
        <!-- end Single Card -->
        <!-- Single Card -->
        <div chart-card class="md:col-span-2 xl:col-span-1"></div>
        <!-- end Single Card -->
        <!-- Auctions Table -->
        <div auctions-table class="md:col-span-2 xl:col-span-3">asd</div>
    </div>
</div>